<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lidm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="atom.ez"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HasilSkoring"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".KuisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlaygroundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FlashcardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SpuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>